//@import '~antd/dist/antd.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..800");
@import "~antd/dist/reset.css";
@import "icomoon/styles.css";
@import "vars";

.app {
	background-color: $bg;
	font-family: "Nunito Sans", sans-serif;
	color: $txt;
	padding: 20px;
}

.logo {
	cursor: pointer;
	width: 200px;
}

.side-menu {
	background-color: #fff;
	position: fixed;
	width: 250px;
	padding: 25px;
	height: calc(100vh - 40px);
	border-radius: 20px;
	text-align: center !important;
	filter: drop-shadow(5px 5px 5px black);
	.logo {
		width: 45px;
		cursor: pointer;
		margin-right: 10px;
		filter: drop-shadow(13px 15px 8px black);
	}
	.logoTxt {
		font-size: 24px;
		font-weight: 500;
		cursor: pointer;
	}
	.menu {
		margin-top: 60px;
		margin-left: 5px;
		margin-right: 5px;
		.menu-item {
			cursor: pointer;
			margin-top: 40px;
			font-size: 17px;
			font-weight: 700;
			align-items: center;
			text-align: center !important;
			padding: 10px;
			i {
				margin-right: 10px;
				font-size: 23px;
			}
			&.active {
				color: $primary;
			}
			background-color: #1d803a;
			background-image: conic-gradient(from 1turn,rgba(88,175,16,1),rgba(29,128,58,1));
		}

		.buy-chip {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		.login-btn {
			background-color: #5617cb;
			background-image: conic-gradient(from 1turn,rgba(136,83,252,1),rgba(110,52,226,1));
			border: 0px !important;
			border-radius: 0;
		}
	}
}
.menu-space {
	width: 250px;
}

.container {
	max-width: 1300px;
	position: relative;
	padding-left: 20px;
}

.header {
	height: 50px;
	width: 100%;
	border-radius: 30px;
	filter: drop-shadow(5px 5px 5px black);
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 5px;

	.setting-avatar {
		:hover {
			cursor: pointer;
		}
	}

	.play-btn {
		height: 100%;
		width: 80px;
		background-color:rgba(0, 0, 0, 0.534);
		margin-right: 10px;
		justify-content: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		:hover {
			cursor: pointer;
			filter: drop-shadow(5px 5px 5px black);
			background-color:rgba(0, 0, 0, 0.1) !important;
		}
	}
}

.play-panel {
	width: 100%;
	height: calc(100vh - 40px);
	background-color: $darkBg2;
	iframe {
		width: 100%;
		height: 100%;
	}
}
.banner {
	width: 100%;
	margin-top: 20px;
	min-height: 300px;
	background-color: $darkBg2;
	padding: 8px;
	border: 2px dashed black;
}

.loader-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 40px);
}

.add-wallet-card {
	height: 150px;
	background-color: $darkBg2;
	border: 1px dashed rgba(109, 109, 109, 0.829);
	border-radius: 10px;
	color:rgba(172, 172, 172, 0.993);
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: bold;
	font-size: 40px;
}

.add-wallet-card:hover {
	background-color: rgb(82, 82, 82) !important;
	cursor: pointer;
}

.wallet-card {
	height: 150px;
	background-color: $darkBg2;
	border-radius: 5px;
	text-align: center;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	padding: 10px;
	background-image: url('../images/Metamask.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(5px 5px 5px black);
}

.notifications {
	width: 185px;
	height: 200px;
	overflow-y: scroll;
	font-size: 13px;
	.listItem {
		position: relative;
	}
	.badge {
		position: absolute;
		right: 5px;
		bottom: 10px;
		width: 8px;
		height: 8px;
	}
}

.cardTitle {
	i {
		margin-left: 10px;
		cursor: pointer;
		display: block;
		margin-top: 1px;
	}
}

.dashboardCard {
	.ant-card-body {
		height: 220px;
		overflow-y: scroll;
	}
}

.statistics {
	margin-bottom: 25px;
	div {
		font-size: 15px;
		color: $txt2;
	}
	b {
		color: $txt;
		font-size: 20px;
	}
	.progress {
		position: absolute;
		right: 13px;
		top: 18px;
	}
}

h1 {
	margin-bottom: 10px;
	line-height: 29px;
}

h2 {
	margin-top: 20px;
}

h4 {
	color: $txt2;
	font-size: 15px;
}

.flex1 {
	flex: 1;
}

.ant-avatar {
	color: $txt;
	background-color: $bg2;
}

.ant-card {
	border-radius: 7px;
	border: none;
	.ant-card-head {
		min-height: inherit;
	}
	.ant-card-body {
		padding: 15px;
	}
	.ant-card-head-title {
		padding: 9px 0;
		font-size: 15px;
	}
}

.chip-container {
	margin-top: 10px;
}
.popoverMenu {
	max-width: 190px;
	.item {
		padding: 9px 18px;
		border-bottom: 1px solid $border;
		cursor: pointer;
		.ellipsis {
			width: 110px;
		}
		img {
			width: 30px;
			height: 30px;
			margin-right: 7px;
			border-radius: 20px;
		}
	}
	.profileHead {
		justify-content: flex-start;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: white;
	}
}

.popoverBtn {
	cursor: pointer;
}

.ant-popover-inner-content {
	padding: 0;
}

.profile-container {
	width: 100%;
	min-height: 300px;
	background: $darkBg2;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	.profile-down {
		background-color: white;
		height: 150px;
		width: 100%;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: #1d803a;
		background-image: conic-gradient(from 1turn,rgba(88,175,16,1),rgba(29,128,58,1));
	}
	.profile-up {
		height: 150px;
		width: 100%;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
}

.metamask-btn {
	background-color: #5617cb;
	background-image: conic-gradient(from 1turn,rgba(136,83,252,1),rgba(110,52,226,1));
	height: 60px;
	width: 100%;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.metamask-btn:hover {
	cursor: pointer;
	background-color: #42119c;
	background-image: conic-gradient(from 1turn,rgb(89, 55, 161),rgb(73, 26, 165));
}
.otherwallet-btn {
	background-color: #5617cb;
	background-image: conic-gradient(from 1turn,rgba(136,83,252,1),rgba(110,52,226,1));
	height: 60px;
	width: 100%;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.otherwallet-btn:hover {
	cursor: pointer;
	background-color: #42119c;
	background-image: conic-gradient(from 1turn,rgb(89, 55, 161),rgb(73, 26, 165));
}

.control-panel {
	border-radius: 20px;
	background-color: $darkBg2;
	min-height: calc(100vh - 190px);
	padding: 20px;

	.tab-body {
		margin-top: 10px;
	}
}
.control-tabs {
	height: 40px;
	background-color: $darkBg;
	border-radius: 10px;
	padding: 5px;
	display: flex;
	flex-direction: row;

	.control-tab {
		height: 100%;
		border-radius: 10px;
		padding-left: 20px;
		padding-right: 20px;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-right: 5px;
		background-color: #1d803a;
		background-image: conic-gradient(from 1turn,rgba(88,175,16,1),rgba(29,128,58,1));
	}
	.control-tab.active {
		background-color: #5617cb;
		background-image: conic-gradient(from 1turn,rgba(136,83,252,1),rgba(110,52,226,1));
	}
	.control-tab:hover {
		cursor: pointer;
	}
}

.chip-budget {
	margin-top: 30px;
	margin-bottom: 20px;
}

.buy-chip-btn {
	margin-top: 50px;
	height: 40px;
	background-color: #1d803a;
	background-image: conic-gradient(from 1turn,rgba(88,175,16,1),rgba(29,128,58,1));
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	border: none;
	width: 100%;
}

.buy-chip-btn:hover {
	background-color: #1d803a;
	background-image: conic-gradient(from 1turn,rgb(59, 117, 12),rgb(15, 71, 32));
}

.buy-chip-btn:disabled {
	cursor: not-allowed;
	background-color: #0d6326;
	background-image: conic-gradient(from 1turn,rgb(59, 117, 12),rgb(15, 71, 32));
}
@import "responsive";
@import "dark";
